body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// global classes
.cursor-pointer {
  cursor: pointer;
}

.profile-image-small {
  height: 180px;
}

.profile-image-large {
  height: 300px;
}

.nav-link {
  color: lightgray;
  &:hover {
    color: white;
  }
  &.nav-link-active {
    color: gold;
  }
}